.container{
	margin: 0px auto;
	background-color: #ffffff;
	width: 600px;
	height: 600px;
	 display: table;
 border-width: thin;
 padding: 0;
}
body{
	background-color: #4d4d4d;
	/*width: 720px;*/
  margin: 0 auto;
}
.ui-menu { width: 150px; }

/*.square-line{
float:left;
}*/
.square{
	display: table-cell;
	padding: 0;
  margin: 0;
	  border-style: solid;
  border-color: #ffffff;
  /* border-color: #000000; */
  border-width: 0px;
  background-color: #ffffff;
  } 

/*
.square-line{
  display: table-row;
  width: 600px;
  margin: 0;
  padding: 0;
}
*/